<a href="https://colab.research.google.com/github/rohitjaiswalrj32/Python-Practice/blob/main/basic_input_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Practice Exercises

In [4]:
# Task 1: Take a user's name and age as input and print a greeting.

name = input("Enter your Name: ")
age = int(input("Enter your Age: "))

print("Hello,", name + "! You are", age, "Years Old.")

Enter your Name: Rohit Jaiswal
Enter your Age: 25
Hello, Rohit Jaiswal! You are 25 Years Old.

In [7]:
# Task 2: Ask for two numbers and print their sum

num1 = int(input("Enter the First Number: "))
num2 = int(input("Enter the Second Number: "))

Sum = num1 + num2

print("The Sum is:", Sum)

Enter the First Number: 6
Enter the Second Number: 8
The Sum is: 14

In [9]:
# Task 3: Print data types of different variables

print("Type of Name:", type(name))
print("Type of Age:", type(age))
print("Type of First Number:", type(num1))
print("Type of Sum:", type(Sum))

Type of Name: <class 'str'>
Type of Age: <class 'int'>
Type of First Number: <class 'int'>
Type of Sum: <class 'int'>