#**Data Structures in Python: Sets & Dictionaries**

**Agenda**
- Sets in Python
  - What is a Set?
  - Creating a Set
  - Basic Operations on Sets
  - Applications of Sets
  - Set Comprehensions
- Dictionaries in Python
  - What is a Dictionary?
  - Creating a Dictionary
  - Accessing Dictionary Elements
  - Modifying Dictionary Elements
  - Removing Dictionary Elements
  - Dictionary Operations
  - Nested Dictionaries
  - Applications of Dictionaries

# **Introduction**

- In Python, data structures are essential for organizing and storing data efficiently. Among the various built-in data structures, sets and dictionaries are particularly useful when dealing with unique elements and key-value pairs, respectively. This guide will explore sets and dictionaries, their characteristics, operations, and practical applications, complete with examples.

#**Sets in Python**

- A set in Python is a built-in data structure that represents an unordered collection of unique elements. Unlike lists or tuples, which allow duplicate values, a set automatically removes duplicates, ensuring that each element in the set is unique.

**Key Characteristics of a Set:**
- **Unordered:** The elements in a set do not have a defined order, meaning that their position in the set can change.
- **Unique Elements:** A set does not allow duplicate elements. If you attempt to add a duplicate, it will be ignored.
- **Mutable:** Sets are mutable, so you can add or remove elements after the set has been created.
- **Unindexed:** Sets do not support indexing, slicing, or other sequence-like behavior because they are unordered.

####**Creating a Set**
- Sets can be created using the set() function or by placing comma-separated elements inside curly braces {}.

**Example:**

In [ ]:
# Creating a set using curly braces
fruits = {"apple", "banana", "cherry"}
print(fruits)  # Output: {'apple', 'banana', 'cherry'}

# Creating a set using the set() function
numbers = set([1, 2, 3, 4, 5])
print(numbers)  # Output: {1, 2, 3, 4, 5}

{'apple', 'cherry', 'banana'}
{1, 2, 3, 4, 5}

- In the example above, fruits is a set containing the elements "apple", "banana", and "cherry".
- Similarly, numbers is a set created from a list [1, 2, 3, 4, 5]. If there were any duplicate elements in the list, the set would automatically remove them.

####**Basic Operations on Sets**

##### **Adding Elements**


  - You can add elements to a set using the add() method.
  - Sets in Python provide a variety of operations that allow you to manipulate and query the collection of elements. Here are some of the most common operations you can perform on sets:

**Example:**

In [ ]:
# Adding an element to a set
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)  # Output: {'apple', 'banana', 'cherry', 'orange'}

{'orange', 'apple', 'cherry', 'banana'}

##### **Removing Elements**

- There are several methods to remove elements from a set:
  - **remove(element):** Removes the specified element from the set. Raises a KeyError if the element is not found.
  - **discard(element):** Removes the specified element from the set. Does not raise an error if the element is not found.
  - **pop():** Removes and returns an arbitrary element from the set. Raises a KeyError if the set is empty.
  - **clear():** Removes all elements from the set, resulting in an empty set.


**Example:**

In [ ]:
# Removing an element using remove()
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)  # Output: {'apple', 'cherry'}

# Removing an element using discard()
fruits.discard("banana")  # No error if 'banana' is not in the set

{'apple', 'cherry'}

##### **Set Operations**

  - Sets support several standard mathematical operations such as union, intersection, difference, and symmetric difference.

**Example:**

In [ ]:
# Union of sets
A = {1, 2, 3}
B = {3, 4, 5}
print(A | B)  # Output: {1, 2, 3, 4, 5}

# Intersection of sets
print(A & B)  # Output: {3}

# Difference of sets
print(A - B)  # Output: {1, 2}

# Symmetric difference of sets
print(A ^ B)  # Output: {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

####**Applications of Sets**
- Sets are versatile data structures in Python, offering unique properties that make them ideal for various applications, especially where uniqueness, membership tests, and mathematical set operations are required.

##### **Removing Duplicates from a Collection**

- One of the most common uses of sets is to remove duplicates from a list or other iterable. Since sets automatically eliminate duplicate elements, converting a list to a set is a quick and efficient way to ensure all elements are unique.

In [ ]:
# Example: Removing duplicates from a list
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = list(set(numbers))
print(unique_numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

##### **Membership Testing**

- Sets offer an efficient way to test whether an element is present in a collection. This is particularly useful in scenarios where quick lookups are necessary, as the average time complexity for checking membership in a set is O(1).

In [ ]:
# Example: Checking if an element is in a set
fruits = {"apple", "banana", "cherry"}
print("banana" in fruits)  # Output: True
print("mango" in fruits)   # Output: False

True
False

##### **Mathematical Set Operations**

- Sets are ideal for performing mathematical operations like union, intersection, difference, and symmetric difference. These operations are commonly used in scenarios involving data analysis, where comparisons between datasets are necessary.

  - **Union:** Combine elements from two sets.
  - **Intersection:** Find common elements between sets.
  - **Difference:** Identify elements in one set that are not in another.
  - **Symmetric Difference:** Find elements that are in either set but not in both.

In [ ]:
# Example: Mathematical set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)  # {1, 2, 3, 4, 5}
intersection_set = set1.intersection(set2)  # {3}
difference_set = set1.difference(set2)  # {1, 2}
symmetric_difference_set = set1.symmetric_difference(set2)  # {1, 2, 4, 5}

##### **Data Filtering**

- Sets can be used to filter data by retaining only unique elements or by finding common elements between two datasets. This application is particularly useful in data preprocessing tasks.

In [ ]:
# Example: Filtering data
data = ["apple", "banana", "cherry", "apple", "banana"]
unique_data = set(data)  # {'apple', 'banana', 'cherry'}

####**Set Comprehensions**

- Set comprehensions in Python are a concise and efficient way to create sets by applying an expression to each item in an iterable, optionally including a condition. Similar to list comprehensions, set comprehensions allow you to build sets in a single line of code while maintaining readability.


**Syntax of Set Comprehensions:**
```
{expression for item in iterable if condition}
```

- **expression:** The value or transformation applied to each item in the iterable.
- **item:** The variable representing each element in the iterable.
- **iterable:** A collection or sequence of items to iterate over.
- **condition:** An optional filter that allows only certain items to be included in the final set.

**Examples:
Creating a Set of Squares:** Create a set that contains the squares of numbers from 1 to 10.

In [ ]:
squares = {x**2 for x in range(1, 11)}
print(squares)  # Output: {1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

- **Filtering Even Numbers:** Create a set that contains only the even numbers from 1 to 10.

In [ ]:
evens = {x for x in range(1, 11) if x % 2 == 0}
print(evens)  # Output: {2, 4, 6, 8, 10}

{2, 4, 6, 8, 10}

- **Transforming and Filtering Simultaneously:**
Create a set that contains the uppercase version of strings from a list, but only if the string starts with a vowel.

In [ ]:
words = ["apple", "banana", "cherry", "avocado", "grape"]
vowels = {'a', 'e', 'i', 'o', 'u'}
vowel_words = {word.upper() for word in words if word[0].lower() in vowels}
print(vowel_words)  # Output: {'APPLE', 'AVOCADO'}

{'AVOCADO', 'APPLE'}

- **Removing Duplicates with Set Comprehensions:**
Create a set from a list of numbers with duplicates, effectively removing the duplicates.

In [ ]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = {x for x in numbers}
print(unique_numbers)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

- **Cross Product of Sets:**
Create a set that represents the cross product of two sets, but only for certain conditions.

In [ ]:
set1 = {1, 2, 3}
set2 = {'A', 'B', 'C'}
cross_product = {(x, y) for x in set1 for y in set2 if x != 2}
print(cross_product)  # Output: {(1, 'A'), (1, 'B'), (1, 'C'), (3, 'A'), (3, 'B'), (3, 'C')}

{(1, 'C'), (3, 'B'), (1, 'B'), (3, 'A'), (3, 'C'), (1, 'A')}

#**Dictionaries in Python**

![Python-dictionary-2-320.webp]()

###**What is a Dictionary?**

- In Python, a dictionary is an unordered, mutable collection of key-value pairs. Each key in a dictionary is unique and is used to access its corresponding value. Dictionaries are one of the most commonly used data structures in Python, especially for representing structured data, such as real-world objects and their attributes.

**Key Characteristics of Dictionaries:**
- **Unordered:** Unlike lists or tuples, dictionaries do not maintain any order for the elements they contain. However, starting from Python 3.7, dictionaries maintain the insertion order as an implementation detail.

- **Mutable:** Dictionaries are mutable, meaning that the contents (i.e., key-value pairs) can be changed after the dictionary is created. You can add, modify, or remove key-value pairs as needed.

- **Key-Value Pairs:** Each entry in a dictionary consists of a key and a value. The key acts as an identifier, while the value is the data associated with that key. Keys must be of a hashable type, such as strings, numbers, or tuples, while values can be of any data type.

- **Unique Keys:** Each key in a dictionary must be unique. If you try to assign a value to an existing key, the old value will be overwritten.

###**Creating a Dictionary**

- Dictionaries can be created using curly braces {} with key-value pairs, or by using the dict() function.
- Dictionaries in Python can be created in several ways, depending on the data you have and the requirements of your program.

**Some common methods for creating dictionaries:**

**1. Using Curly Braces {}**
- The most straightforward way to create a dictionary.

**Syntax:**
```
my_dict = {'key1': 'value1', 'key2': 'value2'}
```

- **Example:**

In [ ]:
person = {'name': 'Alice', 'age': 30, 'city': 'New York'}

**2. Using the dict() Constructor**
- You can create a dictionary using the dict() function.

**Syntax:**
```
my_dict = dict(key1='value1', key2='value2')
```

- **Example:**

In [ ]:
person = dict(name='Bob', age=25, city='San Francisco')

**3. Using Dictionary Comprehensions**
- A concise way to create dictionaries, similar to list comprehensions.

**Syntax:**
```
my_dict = {key_expression: value_expression for item in iterable}
```

- **Example:**

In [ ]:
squares = {x: x**2 for x in range(6)}
# Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**4. Using the fromkeys() Method**
- Creates a new dictionary with keys from an iterable and a single value for all keys.

**Syntax:**
```
my_dict = dict.fromkeys(iterable, value)
```

- **Example:**

In [ ]:
keys = ['a', 'b', 'c']
my_dict = dict.fromkeys(keys, 0)
# Output: {'a': 0, 'b': 0, 'c': 0}

**5. Creating a Dictionary with Nested Structures**
- You can create dictionaries with values that are other dictionaries or even lists.

**Syntax:**
```
my_dict = {
    'key1': {'sub_key1': 'value1'},
    'key2': {'sub_key2': 'value2'}
}
```

- **Example:**

In [ ]:
student = {
    'name': 'John',
    'grades': {'math': 90, 'science': 85},
    'activities': ['soccer', 'chess']
}

###**Accessing Dictionary Elements**

- Dictionaries in Python store data in key-value pairs. To retrieve values from a dictionary, you use the keys associated with those values.

**Here are the common methods for accessing dictionary elements:**

**1. Accessing Values Using Keys**
- You can directly access a value in a dictionary by specifying its key within square brackets ([]).

In [ ]:
# Example dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Accessing elements
print(my_dict['name'])  # Output: Alice
print(my_dict['age'])   # Output: 25

Alice
25

**2. Using the get() Method**
- The get() method is a safer way to access dictionary elements because it allows you to specify a default value if the key does not exist.

In [ ]:
# Accessing dictionary elements
student = {"name": "John", "age": 25, "major": "Computer Science"}
print(student["name"])  # Output: John
print(student.get("age"))  # Output: 25

John
25

**3. Updating Multiple Elements Using the update() Method**
- The update() method allows you to update multiple key-value pairs at once. You can pass another dictionary or an iterable of key-value pairs (like a list of tuples).

In [ ]:
# Updating multiple elements using update()
my_dict.update({'age': 27, 'city': 'Boston', 'profession': 'Engineer'})
print(my_dict)
# Output: {'name': 'Alice', 'age': 27, 'city': 'Boston', 'country': 'USA', 'profession': 'Engineer'}

{'name': 'Alice', 'age': 27, 'city': 'Boston', 'profession': 'Engineer'}

**4. Modifying Elements in a Nested Dictionary**
- To modify elements in a nested dictionary, you can access the nested dictionary first and then modify its elements.

In [ ]:
# Example of a nested dictionary
nested_dict = {
    'person': {
        'name': 'Bob',
        'age': 30,
        'location': {
            'city': 'San Francisco',
            'state': 'California'
        }
    }
}

# Modifying an element in a nested dictionary
nested_dict['person']['location']['city'] = 'Los Angeles'
print(nested_dict)
# Output: {'person': {'name': 'Bob', 'age': 30, 'location': {'city': 'Los Angeles', 'state': 'California'}}}

{'person': {'name': 'Bob', 'age': 30, 'location': {'city': 'Los Angeles', 'state': 'California'}}}

**5. Deleting Elements from a Dictionary**
- You can remove elements from a dictionary using the del statement, the pop() method, or the popitem() method.

- **Using del to Remove a Specific Key-Value Pair:**

In [ ]:
my_dict = {'name': 'Alice', 'age': 27, 'city': 'Boston', 'profession': 'Engineer'}

if 'country' in my_dict:
    del my_dict['country']

print(my_dict)  # Output: {'name': 'Alice', 'age': 27, 'city': 'Boston', 'profession': 'Engineer'}

{'name': 'Alice', 'age': 27, 'city': 'Boston', 'profession': 'Engineer'}

- **Using pop() to Remove a Specific Key and Get Its Value:**

In [ ]:
age = my_dict.pop('age')
print(age)  # Output: 27
print(my_dict)  # Output: {'name': 'Alice', 'city': 'Boston', 'profession': 'Engineer'}

27
{'name': 'Alice', 'city': 'Boston', 'profession': 'Engineer'}

- **Using popitem() to Remove the Last Inserted Key-Value Pair (Python 3.7+):**

In [ ]:
last_item = my_dict.popitem()
print(last_item)  # Output: ('profession', 'Engineer')
print(my_dict)  # Output: {'name': 'Alice', 'city': 'Boston'}

('profession', 'Engineer')
{'name': 'Alice', 'city': 'Boston'}

###**Modifying Dictionary Elements**

- Dictionaries in Python are mutable, meaning you can change their contents after they are created. This includes adding new key-value pairs, updating existing ones, and removing items.

 **Heres how you can modify dictionaries:**

**1. Adding New Key-Value Pairs**
- To add a new key-value pair to a dictionary, you simply assign a value to a new key.

In [ ]:
# Example dictionary
my_dict = {'name': 'Alice', 'age': 25}

# Adding a new key-value pair
my_dict['city'] = 'New York'
print(my_dict)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York'}

{'name': 'Alice', 'age': 25, 'city': 'New York'}

**2. Updating Existing Key-Value Pairs**
- You can update the value associated with an existing key by assigning a new value to that key.

In [ ]:
# Updating an existing key-value pair
my_dict['age'] = 26
print(my_dict)  # Output: {'name': 'Alice', 'age': 26, 'city': 'New York'}

{'name': 'Alice', 'age': 26, 'city': 'New York'}

**3. Using the update() Method**
- The update() method allows you to update a dictionary with key-value pairs from another dictionary or iterable of key-value pairs.
- It can also add new key-value pairs if the keys do not exist.

In [ ]:
# Updating and adding multiple key-value pairs using update()
my_dict.update({'age': 27, 'country': 'USA'})
print(my_dict)  # Output: {'name': 'Alice', 'age': 27, 'city': 'New York', 'country': 'USA'}

{'name': 'Alice', 'age': 27, 'city': 'New York', 'country': 'USA'}

**4. Removing Key-Value Pairs**
- You can remove key-value pairs from a dictionary using the del statement or the pop() method.

- **Using del Statement:**

In [ ]:
# Removing a key-value pair using del
del my_dict['city']
print(my_dict)  # Output: {'name': 'Alice', 'age': 27, 'country': 'USA'}

{'name': 'Alice', 'age': 27, 'country': 'USA'}

- **Using pop() Method:**

In [ ]:
# Removing a key-value pair using pop and retrieving its value
age = my_dict.pop('age')
print(age)  # Output: 27
print(my_dict)  # Output: {'name': 'Alice', 'country': 'USA'}

27
{'name': 'Alice', 'country': 'USA'}

**5. Removing All Key-Value Pairs**
- You can remove all key-value pairs from a dictionary using the clear() method.

In [ ]:
# Removing all key-value pairs
my_dict.clear()
print(my_dict)  # Output: {}

{}

###**Removing Dictionary Elements**

- Dictionaries in Python allow you to remove key-value pairs in various ways.

**Heres how you can remove elements from a dictionary:**

**1. Using the del Statement**
- The del statement removes a key-value pair from a dictionary. If the key does not exist, it raises

In [ ]:
# Example dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Removing a key-value pair using del
del my_dict['city']
print(my_dict)  # Output: {'name': 'Alice', 'age': 25}

# Attempting to delete a non-existent key will raise an error
# del my_dict['country']  # Raises KeyError: 'country'

{'name': 'Alice', 'age': 25}

**2. Using the pop() Method**
- The pop() method removes a specified key and returns its corresponding value. If the key is not found, it raises a KeyError unless a default value is provided.

In [ ]:
# Removing a key-value pair using pop and retrieving its value
age = my_dict.pop('age')
print(age)  # Output: 25
print(my_dict)  # Output: {'name': 'Alice'}

# Providing a default value to avoid KeyError
city = my_dict.pop('city', 'Not Found')
print(city)  # Output: Not Found

25
{'name': 'Alice'}
Not Found

**3. Using the popitem() Method**
- The popitem() method removes and returns the last key-value pair added to the dictionary as a tuple. If the dictionary is empty, it raises a KeyError. This method is useful for LIFO (Last In, First Out) operations.

In [ ]:
# Adding some items back to demonstrate popitem()
my_dict['city'] = 'Boston'
my_dict['country'] = 'USA'

# Removing the last key-value pair using popitem
last_item = my_dict.popitem()
print(last_item)  # Output: ('country', 'USA')
print(my_dict)    # Output: {'name': 'Alice', 'city': 'Boston'}

('country', 'USA')
{'name': 'Alice', 'city': 'Boston'}

**4. Using the clear() Method**
- The clear() method removes all key-value pairs from the dictionary, effectively making it empty.

In [ ]:
# Removing all key-value pairs
my_dict.clear()
print(my_dict)  # Output: {}

{}

###**Dictionary Comprehensions**

Dictionary comprehensions provide a concise way to create dictionaries by using an expression within curly braces {}. This approach allows you to generate key-value pairs dynamically based on existing iterables, making your code more readable and expressive.

**Basic Syntax**
```
{key_expression: value_expression for item in iterable if condition}
```

- **key_expression:** Expression for the key in the dictionary.
- **value_expression:** Expression for the value in the dictionary.
- **item:** The variable representing each element in the iterable.
- **iterable:** Any iterable (like a list, tuple, string, etc.) that you want to iterate over.
- **if condition:** (Optional) Condition to filter which items to include.

**Examples of Dictionary Comprehensions**

**1. Creating a Dictionary from a List**
- Suppose you have a list of numbers, and you want to create a dictionary where the keys are the numbers and the values are their squares.

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = {x: x**2 for x in numbers}
print(squares)  # Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**2. Filtering Items in a Dictionary Comprehension**
- You can add a condition to include only certain items.
- For example, creating a dictionary of even numbers and their squares.

In [ ]:
even_squares = {x: x**2 for x in numbers if x % 2 == 0}
print(even_squares)  # Output: {2: 4, 4: 16}

**3. Creating a Dictionary from Two Lists**
- If you have two lists, one for keys and one for values, you can combine them into a dictionary using a comprehension.

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
combined_dict = {k: v for k, v in zip(keys, values)}
print(combined_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

**4. Inverting a Dictionary**
- You can reverse the keys and values of a dictionary using a comprehension.

In [ ]:
original_dict = {'a': 1, 'b': 2, 'c': 3}
inverted_dict = {v: k for k, v in original_dict.items()}
print(inverted_dict)  # Output: {1: 'a', 2: 'b', 3: 'c'}

**5. Conditional Assignment in Dictionary Comprehension**
- You can use a dictionary comprehension to categorize values.
- For example, classify numbers as 'even' or 'odd'.

In [ ]:
classification = {x: ('even' if x % 2 == 0 else 'odd') for x in range(1, 6)}
print(classification)  # Output: {1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

**6. Nested Dictionary Comprehension**
- You can also nest dictionary comprehensions. For example, create a multiplication table.

In [ ]:
multiplication_table = {i: {j: i*j for j in range(1, 6)} for i in range(1, 6)}
print(multiplication_table)
# Output:
# {1: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5},
#  2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10},
#  3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15},
#  4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20},
#  5: {1: 5, 2: 10, 3: 15, 4: 20, 5: 25}}

**Advantages of Dictionary Comprehensions**
- **Concise and Readable:** Reduces the amount of code needed to create a dictionary, making it more readable.
- **Efficient:** Allows for fast and efficient creation of dictionaries, especially when transforming or filtering data.
- **Expressive:** Enhances the ability to write more expressive and intuitive code.

###**Nested Dictionaries**

- Nested dictionaries are dictionaries where values can themselves be dictionaries.
- This hierarchical structure allows for the representation of complex data relationships, such as organizational hierarchies or detailed records. Heres an in-depth look at working with nested dictionaries in Python.

#### **Creating Nested Dictionaries**

- You create a nested dictionary by assigning a dictionary as the value for a key in another dictionary.

In [ ]:
# Creating a nested dictionary
company = {
    "department1": {
        "employee1": {"name": "Alice", "age": 30, "position": "Engineer"},
        "employee2": {"name": "Bob", "age": 25, "position": "Analyst"}
    },
    "department2": {
        "employee3": {"name": "Charlie", "age": 35, "position": "Manager"},
        "employee4": {"name": "David", "age": 28, "position": "Developer"}
    }
}

#### **Accessing Nested Dictionary Elements**

- To access elements in a nested dictionary, use a chain of keys.

In [ ]:
# Accessing nested elements
employee1_name = company["department1"]["employee1"]["name"]
print(employee1_name)  # Output: Alice

employee4_position = company["department2"]["employee4"]["position"]
print(employee4_position)  # Output: Developer

Alice
Developer

#### **Adding and Updating Nested Dictionary Elements**

- Adding New Nested Elements: Assign a value to a new key.

In [ ]:
# Adding a new nested element
company["department3"] = {
    "employee5": {"name": "Eve", "age": 29, "position": "Designer"}
}

print(company["department3"])
# Output: {'employee5': {'name': 'Eve', 'age': 29, 'position': 'Designer'}}

{'employee5': {'name': 'Eve', 'age': 29, 'position': 'Designer'}}

- Updating Existing Nested Elements: Reassign a value to an existing key.

In [ ]:
# Updating an existing nested element
company["department1"]["employee1"]["age"] = 31

print(company["department1"]["employee1"])
# Output: {'name': 'Alice', 'age': 31, 'position': 'Engineer'}

{'name': 'Alice', 'age': 31, 'position': 'Engineer'}

#### **Removing Nested Dictionary Elements**

- Removing Nested Elements: Use del or pop() to delete items.

In [ ]:
# Removing a specific key-value pair
del company["department2"]["employee4"]

# Removing an entire nested dictionary
del company["department3"]

print(company)
# Output: {'department1': {'employee1': {'name': 'Alice', 'age': 31, 'position': 'Engineer'}, 'employee2': {'name': 'Bob', 'age': 25, 'position': 'Analyst'}}, 'department2': {'employee3': {'name': 'Charlie', 'age': 35, 'position': 'Manager'}}}

{'department1': {'employee1': {'name': 'Alice', 'age': 31, 'position': 'Engineer'}, 'employee2': {'name': 'Bob', 'age': 25, 'position': 'Analyst'}}, 'department2': {'employee3': {'name': 'Charlie', 'age': 35, 'position': 'Manager'}}}

#### **Iterating Through Nested Dictionaries**

- You can loop through nested dictionaries using nested loops.
  - Iterating Over Keys and Values:

In [ ]:
for department, employees in company.items():
    print(f"Department: {department}")
    for employee_id, details in employees.items():
        print(f"  Employee ID: {employee_id}")
        for key, value in details.items():
            print(f"    {key}: {value}")

# Output:
# Department: department1
#   Employee ID: employee1
#     name: Alice
#     age: 31
#     position: Engineer
#   Employee ID: employee2
#     name: Bob
#     age: 25
#     position: Analyst
# Department: department2
#   Employee ID: employee3
#     name: Charlie
#     age: 35
#     position: Manager

Department: department1
  Employee ID: employee1
    name: Alice
    age: 31
    position: Engineer
  Employee ID: employee2
    name: Bob
    age: 25
    position: Analyst
Department: department2
  Employee ID: employee3
    name: Charlie
    age: 35
    position: Manager

#### **Using Dictionary Comprehensions with Nested Dictionaries**

- Dictionary comprehensions can be employed to create or transform nested dictionaries.

In [ ]:
# Creating a nested dictionary using comprehension
employees = {
    f"employee{i}": {"name": f"Name{i}", "age": 20 + i} for i in range(1, 4)
}
print(employees)
# Output: {'employee1': {'name': 'Name1', 'age': 21}, 'employee2': {'name': 'Name2', 'age': 22}, 'employee3': {'name': 'Name3', 'age': 23}}

{'employee1': {'name': 'Name1', 'age': 21}, 'employee2': {'name': 'Name2', 'age': 22}, 'employee3': {'name': 'Name3', 'age': 23}}

#### **Handling Missing Keys in Nested Dictionaries**

- To manage missing keys, use the get() method with default values or handle exceptions.

In [ ]:
# Using get() with default values
department_info = company.get("department4", {})
employee_info = department_info.get("employee1", "No such employee")

print(employee_info)  # Output: No such employee

No such employee

###**Applications of Dictionaries**
- Dictionaries are one of the most versatile data structures in Python. They are especially useful when you need to store and retrieve data in a way that pairs keys with values. Lets explore some common applications of dictionaries in a beginner-friendly manner.

**1. Storing Contact Information**
- Imagine youre making a phone book. Each contacts name is a key, and their phone number is the value associated with that key.

In [ ]:
# Creating a dictionary to store contacts
phone_book = {
    "Alice": "555-1234",
    "Bob": "555-5678",
    "Charlie": "555-8765"
}

# Accessing a contact's phone number
print(phone_book["Alice"])  # Output: 555-1234

555-1234

- Here, "Alice", "Bob", and "Charlie" are keys, and "555-1234", "555-5678", and "555-8765" are the corresponding values.

**2. Counting Items**
- Dictionaries are great for counting occurrences of items, such as counting the number of times each word appears in a text.

In [ ]:
# Counting word frequencies
text = "apple banana apple orange banana apple"
word_count = {}

for word in text.split():
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print(word_count)
# Output: {'apple': 3, 'banana': 2, 'orange': 1}

{'apple': 3, 'banana': 2, 'orange': 1}

- In this example, each word is a key, and its count is the value.

**3. Storing User Profiles**
- Dictionaries can store user profiles where each user ID is a key, and the profile information is the value.

In [ ]:
# Creating user profiles
profiles = {
    "user1": {"name": "Alice", "age": 30},
    "user2": {"name": "Bob", "age": 25},
    "user3": {"name": "Charlie", "age": 35}
}

# Accessing a user's profile
print(profiles["user1"]["name"])  # Output: Alice

Alice

- Here, "user1", "user2", and "user3" are keys, and their corresponding values are dictionaries containing user information.

**4. Mapping Data**
- Dictionaries are useful for mapping data, such as mapping student names to their grades.

In [ ]:
# Storing student grades
grades = {
    "Alice": "A",
    "Bob": "B",
    "Charlie": "A"
}

# Accessing a student's grade
print(grades["Bob"])  # Output: B

B

- Each students name is a key, and their grade is the value.